<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/base.min.css' %}" />
    <title>doc</title>
  </head>
  <body>
    <nav>
      <ul class="nav_list">
        <img class="logo" src="../static/img/logo.jpg" alt="" />
        <li><a href="">feed</a></li>
        <li><a href="">find article</a></li>
        <li><a href="">create articles</a></li>
        <li><a href="">discover topics</a></li>
      </ul>

      <ul class="profile_list">
        <li><a href="">profile</a></li>
        <li><a href="">login</a></li>
        <li><a href="">logout</a></li>
      </ul>
    </nav>
    <header></header>
    <main></main>
    <footer></footer>
  </body>
</html>
