{% extends 'base.html' %} 

{% block title %} home page {% endblock %}

{% block header %}
<header class='main_header'>
    <h1 class='main_title'>
    Welcome to my page!
</h1>
<p class="main_info">
    On this website you can share your thoughts on different topics! Also there is a feed with topics on which you can subscribe to!</br>This is my pet project and i hope that some people, at least my friends, can use it for entertaining themselves.</br>Go on, enjoy your journey in my pet project! Good luck!
</p>
</header>


{% endblock%}


{% block main %}

{% endblock %}