@use "../utils/App";
@use "../utils/root.scss" as *;
@use "../utils/mixins" as *;

.login_nav {
  height: 10vh;
  padding: 0 5vh;
}

.login_main {
  @include main;
  margin: 0 50vh;
  height: auto;
  padding: 10vh;
}

.login_header {
  @include header;
  margin: 0 50vh;
}

.login_title {
  @include title;
}

.login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 4vh;
  }
  input {
    font-size: 4vh;
  }
}

.login_back {
  scale: 2;
}

.login_form_button {
  font-size: 4vh;
  min-width: 49vh;
  background-color: $accent;
  margin: 2vh;
  border: 3px solid $grass;
}

.login_form_button:hover {
  background-color: $grass;
  border: 3px solid $accent;
}
