@use "utils/App";
@use "utils/root" as *;

.logo {
  max-width: 15vh;
}

.nav_list {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5vh;
}

nav {
  font-size: large;
  padding: 2vh;
  display: flex;
  align-items: center;
  background-color: $dark_font;
  justify-content: space-between;
  ul {
    li {
      background-color: $accent;
      padding: 1vh 3vh;
      border-radius: 10px;
      a {
        color: $dark_font;
      }
    }
  }
}

.profile_list {
  display: flex;
  align-items: center;
  gap: 5vh;
  margin-right: 2vh;
}

header {
  background-color: $darker;
  height: auto;
}
