@use "./root" as *;

@mixin header {
  min-width: 50vh;
  background-color: $darker;
  margin: 0 20vh;
  padding: 5vh 9vh;
  border: 2vh solid $accent;
}

@mixin main {
  margin: 0 20vh;
  border: 2vh solid $accent;
  color: $light_font;
  height: 100%;
}

@mixin info {
  color: $light_font;
  font-size: 5vh;
  padding: 5vh;
}

@mixin title {
  color: $light_font;
}
