{% extends 'base.html' %} 

{% block title %} create article {% endblock %}

{% block header %}
<header class='create_header'>
    <h1 class='create_title'>
    Creating page
</h1>
<p class="main_info">
    There you can create your own articles so other people can see it! Choose topics for it and write it! its that easy! But i dont think it is so easy to make it work for me :D
</p>
</header>
{% endblock%}


{% block main %}
<main class="create_main">
bloody hell i will return to this later!
</main>
{% endblock %}