{% extends 'base.html' %} 

{% block title %} my feed {% endblock %}

{% block header %}
<header class='feed_header'>
    <h1 class='feed_title'>
    Welcome to your feed!
</h1>
<p class="feed_info">
    There will be articles that you've been subscribed to.</br> Do not wait and go check theese out!
</p>
</header>
{% endblock%}


{% block main %}
<main class="feed_main">
    <div class="articles">
        <h2 class="feed_h2">there will be articles in future</h2>
    </div>
</main>
{% endblock %}