{% extends 'base.html' %} 

{% block title %} topics {% endblock %}

{% block header %}
<header class='topics_header'>
    <h1 class='topics_title'>
    Topics
</h1>
<p class="topics_info">
    This is the topic page. Here you can subscribe to topics you like so you can browse articles only with your preferences. </br> When you subscribe to some topics - articles with topics you like will appear in your feed! This means you can read articles by users only sorted by your preferences! Cool feature i think. 
</p>
</header>
{% endblock%}


{% block main %}
<main class="topics_main">
    Jolly heavens i dont know how to make this working yet!
</main>
{% endblock %}